
@{
    Layout = "~/Views/Shared/_LayoutDashAdmin" +
                "" +
                "" +
                ".cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Control de Activos AOC</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="main" class="container-fluid" style="color:white;">
        <div id="root">
            <div style="color:background-color: red; width:100px;height: 100px" class="theDiv">
                asd
                asd
                <br />
                asd
                asd
            </div>
            <!--Background Color-->
            <div class="stillBg" style="background-image: linear-gradient(rgb(17, 83, 88), rgb(1, 7, 8) 85%);">
            </div>

            <div style="background-color:#fff;border-radius:8px;min-height:350px;margin-top:-200px;width:400px;left:55%;top:50%;position:absolute;transform:translateX(-50%);" data-reactid="14">

                <!--
                <svg height="210" width="400" style="margin-top:-150%;fill:rgb(189, 8, 28)">
                  <path class="cls-1" d="M192,441.81c0,31.88,25.63,57.19,55,57.19,9.69,0,8.44-4.06,8.44-19.69s1.25-20-3.13-20-19.06-.62-19.06-15.62,12.19-16.56,15.31-16.56,9.51-3.58-14.68-17.19c-5-2.81-15-5.94-21.57-5.94S192,421.5,192,441.81Z" transform="translate(-75 -29)"/></g></svg>
                -->


                <div style="position:static;height:100%;width:100%;color:black;text-align: center;">
                    <img src="~/Images/aoc.png" width="170px">
                    <h1>Control de Activos</h1>
                </div>
                <div style="height:100%;width:100%;color:black;text-align:center;">
                    <form action="/Login" method="post">
                        <input type="text" name="correo" class="form-control logRegControl" placeholder="Correo Electronico" />
                        <input type="text" name="contrasenia" class="form-control logRegControl" placeholder="Contrasena" />
                        <input type="submit" name="register" value="Entrar" class="form-control logRegControl">
                    </form>
                </div>




                <div style="left:-70%;top:0px;position:absolute;width:250px;height:250px;margin-left:25px;border-radius:50% 10% 10% 50%;display:flex;flex-direction:column;background-color:rgb(189, 8, 28);" class="redThing">
                    <div style="padding-right:40px;margin-top: 30%;padding-left:50px">
                        Bienvenidos al control de activos de AOC.
                        <br />
                        Para iniciar sesión utilice su correo y fecha de nacimiento
                    </div>
                </div>

                <div style="margin-top: 25px;text-align:center;color: black">
                    Atencion a clientes 01 800 7770 262

                </div>
            </div>
        </div>
    </div>
</body>
</html>